<div class = "container" ng-controller="ProfileCtrl" ng-init="init('<%= @user.id %>')">
    <h2 id = "profile_name"><%= @user.name %></h2>
    <div class = "col-md-12">
        <div>
            <a href="/tools">Tools</a>
        </div>
    </div>
</div>